<!-- Image and text -->
<div class="row">
    <div class="col-md-8 offset-md-2">
    <div class="jumbotron">
    <h1 class="display-4">My Books!</h1> <hr class="my-4">
    <p><%= link_to 'COMENZAR', books_path %></p>
        </div>
      </div>
    </div>
    